astor==0.8.1
cffi==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.3.3
pandas==2.3.3
pycparser==2.23
python-dateutil==2.9.0.post0
pytz==2025.2
rpy2==3.6.4
rpy2-rinterface==3.6.3
rpy2-robjects==3.6.3
setuptools==80.9.0
six==1.17.0
tree_sitter==0.20.4
tzdata==2025.2
tzlocal==5.3.1
